* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #000000;
}

.container {
    background: url(ys\ \(3\).jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar {
    width: 100%;
    background-color: rgba(37, 182, 226, 0.5);
    padding: 20px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #000000;
}

.center {
    margin-top: 80px;
}

.center h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.center h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.buttons button {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.buttons button:hover {
    background-color: #04e2fff5;
}
